{% extends "base.html" %}

{% block body %}
<h1>Check in page</h1>
<h2>Enter fields below to search for customer</h2>

<form method="post">
	First name:<input type="text" name="firstname" value="">
	<br>Last name:<input type="text" name="lastname" value="">
    <br>ID Type:<select name="id_type" required style="width:200px;">
            <option value='license' >Driver's License</option>
            <option value='ssn' >Social Security Number</option>
    </select>
	<br>ID:<input type="text" name="id" value="">
	<br>Date of Birth: <input type="date" name="birthdate" value="">
	<input type="submit">
</form>
{% endblock %}